/* 

frog photo colours:

dark red: #C33137
light blue: #D2E9E7
cloth teal: #189D8F
cloth light brown: #F7C17E
dark spot on flower: #741132
flower pink: #E69C94
frog gunk green: #56AC8B
frog eye black: #031D27
frog eye white: #EFFAFA
flower peach: #F7807C
*/

body {
  background-color: #C33137;
  color: white;
  font-size: 16px;
  margin: 0px;
  }


  .header-logo{
    width: 40px;
    height: auto;
    position: absolute;
    left: 5px;
  }

  a {
    color: #E69C94;
  }

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: monospace;
    text-align: center;
  }

/*
li {
  background-color: #189D8F;
  color: #F7C17E;

}
*/

  .hero-frog-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
   
  }

  .blog-box {
    padding: 0px 0px 40px 0px;
    margin: 20px;
    background-color:#D2E9E7;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    position:relative;
  }

  .blog-box-img {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -50px;
    object-fit: cover;
  }


  .blog-box-text{
    font-family: 'Source Code Pro', monospace;
    color: #741132;
    font-size: 14px;
    margin: 20px;

  }


  .statement-text {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
  }

  .about-gaby {
    text-align: center;
    padding: 20px;
    margin: 40px;
    color: #F7C17E;
    background-color:#189D8F ;
    border-radius: 10px;
    font-family: monospace;

  }

  @media screen and (min-width: 480px) {
    #about-gaby-padding{
      padding: 40px;
      margin: 40px 100px 40px 100px;
    }
  }

  .about-gaby-img{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
  }

  footer {
    text-align: center;
    font-size: 10px;
    font-family: monospace;
    color: #741132;
  }

  .blogs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 10px 40px 10px;
    flex-wrap: wrap;
  }

  .tag {
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    display: inline;
    position: absolute;   
    right: 15px;
    top: 0px;
  }

  .core-tag{
    background-color: #F7C17E;
    color: #741132;
  }

  .tech-tag{
    background-color:#189D8F;
    color: #D2E9E7;
  }


  .blogpost {
    background-color: #D2E9E7;
    color: #031D27;
    font-family: monospace;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
  }

  @media screen and (min-width: 680px) {
  #blogpost-padding {
    padding: 60px 100px 60px 100px;
    margin: 60px;
  }
}

  #blog-title {
    color:#031D27;
    text-align: center;
  }
  .cover-photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    
  }
  

.blog-cover{
  position: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #F7807C;

}

.button-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.button{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

  .button-green{
  background-color: #56AC8B;
  color: #EFFAFA;
  }

  .button-peach{
    background-color: #F7807C;
    color: #031D27;
  }

  .image-resize-small{
    width: 70%;
    height: auto;
  }

  .footer-logo{
    width: 30px;
    height: auto;
  }



  #red-logo{
    height: 40px;
    width: auto;
    margin-top: 40px;
  }