body {
  background-color: red;
  color: white;
  font-size: 16px;
  }

  a {
    color: hotpink;
  }

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: monospace;
    font-size: 20px;    
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .blog-box {
    padding: 40px;
    margin: 20px;
    border: 10px;
    background-color:lightblue;
    text-align: center;
    border-radius: 5px;
  
  }

  .blog-box-img {
    max-height: 200px;
    max-width: 200px;
  }

  .statement-text {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
  }